<section class="full col clearfix search">
  <div class="three-q col">
    <h1>Stop traveling.<br><strong><em>START</em>EXPLORING</strong></h1>
    <form id="search" action="#/results">
      <input type="text" name="origin" placeholder="Where are you flying from?">
      <div id="passengers" class="droption">
        <p>passengers</p>
        <div class="droption-menu p">
          <p>I am a thing.</p>
        </div>
      </div>
<!--       <select name="passengers">
        <option value="1">1 adult</option>
        <option value="2">2 adults</option>
        <option value="3">3 adults</option>
      </select> -->
      <input type="date" name="date" id="departure">
      <div id="stay" class="droption">
        <a>Coming back in...</a>
        <div class="droption-menu s">
          <p>I am a thing.</p>
        </div>
      </div>
    </form>
    <button id="submit" class="inline submit" ng-click="goToPage('/results')">SEARCH</button>
  </div>
  </section>
  <script type="text/javascript" src="js/search-ui.js"></script>