.col {
  margin: 0 auto;
}
.left {
  float:left;
}
.right {
  float: right;
}
.inline {
  display: inline-block;
}

.sixth {
  width: 16.677777777777%
}
.quarter {
  width: 25%
}
.third {
  width: 33.33333333333%
}
.half {
  width: 50%
}
.two-thirds {
  width: 66.67777777777777%
}
.three-q {
  width: 75%
}
.five-sixth {
  width: 83.333333333333%
}
.full {
  width: 100%
}