.col {
  margin: 0 auto;
  box-sizing: border-box;
}
.left {
  float:left;
}
.right {
  float: right;
}
.inline {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.divide-left {
  border-right: $vulture-light-p;
}
.divide-right {
  border-left: 1px solid $vulture-light-p;
}
.tall {
  height: 100%;
}
.twelfth {
  width: 8.333333333333%;
}
.sixth {
  width: 16.677777777777%;
}
.quarter {
  width: 25%;
}
.third {
  width: 33.33333333333%;
}
.half {
  width: 50%;
}
.two-thirds {
  width: 66.67777777777777%;
}
.three-q {
  width: 75%;
}
.five-sixth {
  width: 83.333333333333%;
}
.full {
  width: 100%;
}