.search input {
  display: inline-block;
  height: 30px;
  border-radius: 0;
  border: 1px solid $vulture-purple;
  background-color: white;
  color: $vulture-purple;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 1rem;
  position: relative;
  top: 0px;
}
.search input:focus {
  outline: none;
  box-shadow: inset 0 0 3px $vulture-orange;
}
.search input:first-child {
  border-radius: 5px 0 0 5px;
}
.search input[type="text"] {
  width: 40%;
  min-width: 250px;
  padding-left: 15px;
}

.search input[type="date"] {
  padding: 0 0 2px 15px;
  margin: 0 -1px;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 200;
  position:relative;
  top: 0px;
}

.search select {
  display: none;
}
.search .submit {
  height: 34px;
  border-radius: 0px 5px 5px 0px;
  padding: 0 20px;
  background-color: $vulture-purple;
  color: whitesmoke;
  border: 1px solid #ccc;
  font-size: .9rem;
  font-weight: 700;
  box-sizing: border-box;
  position: relative;
  margin-left: -1px;

}

.search .submit:hover {
  background-color: whitesmoke;
  color: $vulture-purple;
  border: 1px solid $vulture-purple;
}
.search .droption {
  background-color: white;
  border: 1px solid $vulture-purple;
  color: $vulture-purple;
  background-image: url('/app/img/droption-arrow.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  display: inline-block;
  position: relative;
  line-height: 30px;
  margin: 0 -5px;
  // padding: 0 30px 2px 10px;
  font-weight: 200;

  p {
    margin: 0;
    padding: 0 30px 2px 10px;
    cursor: default;
  }
}
.p {
  width: 250px;
}
.s {
  width: 175px;
}
.search .droption-menu {
  display:none;
  background-color: white;
  border: 1px solid $vulture-purple;
  box-shadow: 0 10px 40px -10px black;
  position: absolute;
  top: 32px;
  left: -1.5px;
  padding: 10px 10px 5px 15px;
  z-index: 10;

  .row:first-child {
    padding: 0px 0px 10px
  }

  .row {
    border-bottom: 1px dotted $vulture-purple;
    padding: 10px 0px;
  }

  .row:last-child {
    border-bottom: none;
  }

  span {
    display: inline-block;
    float: left;
  }

  .type {
    width: 100px;
  }

  .length {
    margin-right: 12px;
  }

  .incrementor {
    display: inline-block;
    float: left;
    border: 1px solid #ccc;
    padding: 0px 5px;

    button {
      display:inline-block;
      border-radius: 0;
      background-color: $vulture-purple;
      border: 1px solid darken($vulture-purple, 15%);
      color: whitesmoke;
      font-weight: 700;
      position: relative;
      top: -3px;
    }
    button:focus {
      outline: none;
    }
    button:hover {
      background-color: darken($vulture-purple, 10%);
      border: 1px solid darken($vulture-purple, 20%);
    }

    input {
      width: 1.09rem;
      height: 1.09rem;
      display: inline-block;
      position: relative;
      top: 0px;
      cursor: default;
      text-align: center;
    }
  }

  .big-btn {
    margin-left: 40px;
    display:inline-block;
    border-radius: 0;
    background-color: $vulture-purple;
    border: 1px solid darken($vulture-purple, 15%);
    color: whitesmoke;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: .9rem;
    // position: relative;
    // top: -3px;
  }
  .big-btn:focus {
    outline: none;
  }
  .big-btn:hover {
    background-color: darken($vulture-purple, 10%);
    border: 1px solid darken($vulture-purple, 20%);
  }

  .age-range {
    float: right;
    padding-right: 10px;
  }
}







